* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: manipulation;
}

body {
    background-color: #1F2937;
}

h1 {
    font-size: 1.3rem;
    color: #FFFFFF;
}

h2 {
    font-size: 1rem;
    color: #CCC1FF;
}

p {
    font-size: .8rem;
    color: #FFFFFF;
}

#main {
    margin: 0px auto;
    text-align: center;
    font-family: "Inter", serif;
}

#input-el {
    background-color: #6943FF;
    color: #FFFFFF;
    border: 2px solid #B295FF;
    border-radius: 4px;
    display: block;
    width: 90px;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
}

::placeholder {
    color: #FFFFFF;
}

#btn-el {
    background-color: #FFFFFF;
    margin: 0px 10px 20px;
    padding: 5px 15px;
    font-size: 1.1rem;
    border: 0;
    border-radius: 4px;

}

#btn-el:hover {
    cursor: pointer;
}

#top {
    background-color: #6943FF;
    padding: 50px 30px 10px;
}

#bottom {
    background-color: #1F2937;
    padding: 20px 30px 40px;
}

.conversion {
    background-color: #273549;
    max-width: 400px;
    margin: 0 auto 10px;
    padding: 10px;
    border-radius: 4px
}